<%= form_for(@project, :html => { :multipart => true }) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :industry %><br>
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :total_investment %><br>
    <%= f.number_field :total_investment %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.datetime_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :views %><br>
    <%= f.number_field :views %>
  </div>
  <div class="field">
    <%= f.label :rating %><br>
    <%= f.number_field :rating %>
  </div>
  <div>
    Add Your Project<%= f.label :icon %>:
    <%= f.file_field :icon%>
  </div>

  <%= f.fields_for :project_images do |builder| %>
 
    <% if builder.object.new_record? %>
      <p>
        <%= builder.label :caption, "Image Caption" %>
        <%= builder.text_field :caption %>
      </p>
       
      <p>
        <%= builder.label :photo, "Image File" %>
        <%= builder.file_field :photo %>
      </p>
    <% end %>
  <% end %> 

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
