<div class="projects">
  <p id="notice"><%= notice %></p>

  <div class="projects-header"><h3 class="projects-header-title">EXPLORE A WORLD FULL OF CREATIVITY</h3></div>

  <div class="projects-content row">
    <% @projects.each do |project| %>
      <div class="project-snippet col-md-4">
        <%= image_tag(project.icon.url(:medium), class: "project-img") %>
        <div class="project-info">
          <%= link_to project.name, project_path(project), class: "project-info-name"  %><br>
          <div class="project-info-description"><%= project.description %></div>
          <div class="project-info-tags"><i class="fa fa-tags"></i> <%= project.industry %></div>
        </div>
      </div>
    <% end %>
  </div>
  
</div>